* {
  margin: 0;
}

html {
  font-family: "Courier New", Courier, monospace;
  background: lightcyan;
}

h1 {
  margin-bottom: 2vh;
}


body{
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  border-radius: 20px;
  padding: 50px;
  height: 50vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(219, 212, 226);
  border: 2px solid blueviolet;
}

.ul-container{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  overflow-y: auto;
  border: 2px solid blueviolet;
  border-radius: 10px;
}

li {
  list-style: none;
  text-align: left;
  border: 2px solid blueviolet;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

li:hover {
  background: blueviolet;
  color: white;
  cursor: pointer;
}

button {
  background: blueviolet;
  color: white;
  border: none;
  outline: none;
  margin: 5vw;
  padding: 2vh;
  width: 20vw;
  border-radius: 10px;
  cursor: pointer;
}

input {
  border: 2px solid blueviolet;
  padding: 10px;
  background: transparent;
  color: black;
  border-radius: 10px;
  margin: 2vw;
}

h1::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: blueviolet;
  z-index: -1;
  transition: transform 0.3s ease;
}

h1 {
  z-index: 10;
  position: relative;
  font-size: 3rem;
}

.validation-message {
  color: indianred;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 0;
}
